*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --radius: 7px;
  --h1title: 5vmin;
  --h2title: 4vmin;
  --h3title: 3vmin;
  --paragraph: 2vmin;
  --transition: .5s;
  --white: #fff;
  --grey: #182130;
  --blue: #294ab8;
  --liBlue: #7ca3f8;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  background-color: var(--white);
  font-size: 1.6rem;
}

h1{
  font-size: var(--h1title);
}

h2{
  font-size: var(--h2title);
}

h3{
  font-size: var(--h3title);
}

p{
  font-size: var(--paragraph);
}

a{
  color: var(--white);
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition);
}

/* Header */

header{
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99999;
}

nav{
  display: flex;
  background-color: var(--blue);
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;

  & img{
    width: 12rem;
    height: 12rem;
  }

  & ul{
    list-style: none;
    display: flex;
    gap: 6rem;
    align-items: center;  
  }
}

li{
  font-size: 1.9rem;
}

nav a:hover{
  color: var(--liBlue);
  font-size: 2rem;
}

.logo{
  gap: 10rem;
  display: flex;
  justify-content: space-between;


  & h2{
    color: var(--white);
  }
}

/* Inicio */

.inicio{
  background-image: linear-gradient(rgba(88, 130, 255, 0.432), rgba(83, 157, 226, 0.336)), url(../images/enchenteClaro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  & h1{
    color: var(--white);
  }
}

.inicio-content{
  display: inherit;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.btn{
  background-color: var(--blue);
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 1rem;

  &:hover{
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
  }
}